body{
  background:#bf0d10;
}
h2{
  position: center;
  margin:auto;
  text-align:center;
  word-spacing: 0.25em;
 font-family:'Space Mono', monospace;
}
h1{
  text-align: center;
  margin: auto;
  word-spacing: 20px;
 font-family: 'Lobster', cursive;
}
h3{
  text-align: center;
  margin: auto;
  word-spacing: 20px;
 font-family: 'Lobster', cursive;
}
header{
 text-align: center;
 position: center;
  margin: auto;
  word-spacing: 0.25em;
font-family:'Space Mono', monospace;
}
img{
  object-position: 50% 50%;
  border-radius: 50% 20% / 10% 40%;
  }

