
html
{
  font-family:'Space Mono', monospace;
    font-weight: bold;
}
body
{
   
background: #f53d8a;
  //color: #CAB;
  padding: 25px;
  //font-family: sans-serif;
}
h1
{
  position: center;
  margin: 0 auto;
  text-align:center;
  word-spacing: 0.25em;
 font-family:'Space Mono', monospace;
}

p
{
text-align: center;
  margin: 0 auto;
  word-spacing: 10px;
 font-family: 'Lobster', cursive;
}
header
{
 text-align: center;
 position: center;
  margin: 0 auto;
  word-spacing: 0.25em;
font-family:'Space Mono', monospace;
}

