*{
 
     font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
  position: center;
};
body
{
  background-color:pink;
   position: center;
  font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
  margin: 0 auto;
 background-color: rgb(207,232,220);

 
 
};
h1
{
  position: center;
  margin: 0 auto;
};
p
{
 position: center;
  margin: 0 auto;
};
header
{
 position: center;
  margin: 0 auto;
}

